---
import { prisma } from '../server/lib';
import TaskList from '../components/task/ui/TaskList.svelte';
import Layout from '../layouts/Layout.astro';

const tasks = await prisma.task.findMany({
  orderBy: {
    dueDate: 'asc',
  },
});
---

<Layout>
	   <main class="container mx-auto py-8">
      <TaskList tasks={tasks} client:load />
    </main>
</Layout>

